@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&family=Homemade+Apple&family=Open+Sans:ital@1&display=swap");

/* Seriffed Fonts: */

@import url('https://fonts.googleapis.com/css2?family=Prata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IM+Fell+Double+Pica:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

/* Scripts: */
@import url('https://fonts.googleapis.com/css2?family=Tangerine&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Beth+Ellen&display=swap');


/* Sans Serif: */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;1,300;1,400;1,500;1,600&display=swap');

:root {
    --measurement: 0.125em;
    --book: 'IM Fell Double Pica', serif;
    --sans: 'Montserrat', sans-serif;
    --script: 'Tangerine', cursive;
    --fashion: 'Beth Ellen', cursive;
}

.font-brand {
    font-family: "Prata";
    font-size: 4rem;
}

.font-book {
    font-family: var(--book);
}

.font-book-italic {
    font-family: var(--book);
    font-style: italic;
}

.font-script {
    font-family: var(--script);
    font-size: 1.5rem;
}

.font-sans {
    font-family: var(--sans);
    font-weight: 300;
}

.font-sans-500 {
    font-family: var(--sans);
    font-weight: 500;
}

.font-fashion {
    font-family: var(--fashion);
}

.rb-btn {
    background: white;
    border: var(--measurement) solid black;
    cursor: pointer;
    font: 600 1rem/1.5 var(--sans);
    text-decoration: none;
    color: black;
    letter-spacing: var(--measurement);
    padding: 0.5rem 0.75rem;
    position: relative;
    text-transform: uppercase;
}

.divider {
    display: flex;
    align-items: center;
    color: #8b95a5;
    margin: 1.2rem;
}

.divider::before {
    margin-right: 16px;
}

.divider::after {
    margin-left: 16px;
}

.divider::before, .divider::after {
    content: '';
    -webkit-box-flex: 1;
    flex-grow: 1;
    border-top: 1px solid #ebebeb;
}

*, ::after, ::before {
    box-sizing: border-box;
}